*, *::after , *::before {
    box-sizing: border-box;
}
body{
    margin:0px;
    color: black;
    font-family: "Roboto", sans-serif;
    background-color: rgba(254, 254, 254, 1);
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.studio-header{
    position: relative;
    background: white;
    display: flex;
    padding-left: 120px;
    padding-top: 42px;
    padding-right: 120px;
    position: sticky;
    top: 0;
    z-index: 99;
    padding-bottom: 30px;
    
}
.main-header{
    display: flex;
    padding-top: 42px;
    justify-content: space-between;
}
.navigation{
    position:absolute;
    display: flex;
    align-items: center;
    color: black;
    padding-left: 386px;
}
.navigation-item{
    padding-right:58px;
    padding-left:23px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.fold-1{
    padding-left: 120px;
    position: relative;
    padding-top: 55px;
    padding-bottom: 150px;
    display: flex;
}
.paragraph{
    color: rgb(86, 86, 86);
    font-size: 18px;
    line-height: 25.6px;
    text-align:left;
    width:471px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.heading{
    font-size:40px;
    color:rgba(0, 0, 0, 1);
    text-align: start;
    padding-top: 143px;
    line-height: 50px;
    padding-left: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.button{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 80px;
    z-index: 6;
    margin-top: 15px;
}
.dot-ornament{
    position: absolute;
    z-index: -9;
    bottom: 6%;
    left: 33px;
}
.section1-images{
    flex:1;
    flex-direction: column;
}
.image1{
    position: absolute;
    z-index:6;
    height:512px;
    width:670px;
}
.rectangle-image1{
    position: absolute;
    z-index: 0;
    right: 91px;
    bottom: -96px;
    height:178px;
    width:178px;
}
.ellipse-image1{
    position: absolute;
    top:51;
    left:50%;
    z-index: 5;
    height:129px;
    width:129px;
}

.main-section{
    flex:1;
    flex-direction: column; 
    align-items: flex-start;
    width: 950px;
    margin: 0px;
}

.main-section .paragraph{
    margin-right:1em;
    align-items: left;
}
.fold-2{
    padding-bottom: 40px;
    padding-left: 120px;
    padding-top: 120px;
}
.heading-client{
    font-size:40px ;
    color: black;
    border: 1px;
    line-height: 49.44px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.paragraph-client{
    font-size: 18px;
    color:#757575;
    line-height:29px ;
    display: flex;
    gap:70px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
   
}


.company-logos{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-logos-img {
    max-width: 160px;
    max-height: 50px;
}


.usp-block {
    margin-bottom: 50px;
    position: relative;
    isolation: isolate;
}

.usp-block-container {
    display: flex;
    align-items: center;
}

.usp-bg-item-squre {
    height: 70%;
    width: 70%;
    background: rgba(244, 249, 255, 1);
    position: absolute;
    top: 15%;
    right: 0;
    z-index: -1;
    border-radius: 150px 0px 0px 0px;
}


.usp-text {
    max-width: 40%;
    min-width: 40%;
    position: relative;
    z-index: 0;
    
}
.usp-heading-square{
    position: absolute;
    z-index: -2;
    background-color: rga(255, 245, 219, 1);
    border-radius: 0px 0px 100px 0px;
    top: -66px;
    left: -47px;
    width:180px;
    height:180px;
    rotate: 180deg;

}
.usp-header-dot-ornament{
    position: absolute;
    width: 405px;
    height: 154px;
    z-index: -6;
    left: -305px;
    bottom: -31px;
}
.usp-header-ellipse{
    position: absolute;
    width:120px;
    height:120px;
    right: 44px;
    bottom: -39px;
    z-index:-6;
}

.usp-cards-block {
    max-width: 60%;
    min-width: 60%;
}

.usp-heading {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.usp-paragraph {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: rgba(86, 86, 86, 1);
}

.usp-cards-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.usp-cards-left {
    padding-top: 60px;
}

.usp-card {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.05);
    background: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
    border: 1px solid rgba(242, 242, 242, 1);
}

.usp-card-icon {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    background: rgba(241, 247, 255, 1);
    margin-bottom: 30px;
    display: grid;
    place-content: center;
}

.usp-card-icon-2 {
    background: rgba(255, 242, 248, 1);
}
.usp-card-icon-3 {
    background: rgba(255, 247, 227, 1);
}
.usp-card-icon-4 {
    background: rgba(222, 255, 238, 1);
}

.usp-card-title {
    font-size: 24px;
    margin-bottom: 40px;
}

.usp-card-description {
    font-size: 16px;
    font-weight: 300;
    color: rgba(117, 117, 117, 1);
}
.fold-3{
    position: relative;
    display: flex;
    padding-top: 140px;
    padding-left: 120px;
}
.agency-heading{
    position: relative;
    font-size: 40px;
    line-height: 49.44px;
    width:468px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.orange-rect{
    height: 200px;
    width: 200px;
    background: rgba(239, 241, 255, 1);
    position: absolute;
    top: -40px;
    z-index: -1;
    border-radius: 0px 0px 100px 0px;
    left: -54px;

}
.paragraph-agency{
    margin-top: 30px;
    font-size: 16x;
    line-height: 25.6px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    width:532px;
    color: rgba(86, 86, 86, 1);
}
.agency-content{
    padding-top: 87px;
    padding-left: 107px;
    padding-right: 120px;
}
.blue-rectangle{
    position: absolute;
    display: flex;
    z-index: 0;
}
.agency-text{
    position: absolute;
    display: flex;
    z-index: 6;
    flex-direction: column;
}
.image-section{
    position: relative;
    text-align: center;
}
.agency-image {
    width: 550px;
    height: 372px;
    position: relative;
    z-index: 6;

}
.ellipse-div{
    position: absolute;
    width:130px;
    height:130px;
    color:rgba(255, 245, 219, 1);
    right:0;
    bottom: 0;
    z-index: 0;
}
.play-icon{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10; 
    width:78px;
    height:78px;
}
.fold-4{
   padding-top: 118px;
   align-items: center;
   margin: auto;
   text-align: center;

}
.client-heading{
    font-size: 40px;
    line-height: 49.44px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.client-paragraph{
    font-size: 18px;
    line-height: 28.8px;
    color: rgba(117, 117, 117, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.fold-5{
    display:flex;
    position:relative;
    padding-top: 108px;
    padding-left:120px;
    padding-bottom: 50px;
}

.client1-image{
    
    position: relative;
    z-index: 5;
    flex:1;
    
}
.pink-ellipse{
    position:absolute;
    top: 64%;
    z-index: 1;
    left: 121px;
}
.dot{
    position: absolute;
    z-index: 1;
    top: 85px;
    right: 66%
}
.client-description{
    flex:1;
    padding-top: 100px;
}

.client-name{
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    line-height: 29.66px;
    align-items: center;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.client-details{
    font-size: 16px;
    color: rgba(86, 86, 86, 1);
    width:412px;
    line-height: 25.6px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.client-images{
    padding-left: 20px;
    padding-right: 40px;
}
.ellipses{
    padding-top: 40px;
    letter-spacing: 25px;

}
.ellipse1{
    width:16px;
    height:16px;
}
.ellipse2{
    width:16px;
    height:16px;
}
.fold-6{
    display: flex;
    padding-left:120px;
    padding-top: 150px;
    align-items: center;
    position:relative;


}
.newsletter-content{
    margin-left: 88px;
    display: flex;
    flex-direction: column;
}
.newsletter-heading{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width:386px;
    font-size: 40px;
    line-height: 49.44px;

}
.newsletter-description{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgba(117, 117, 117, 1);
    line-height: 28.8px;
    font-size: 18px;

}
.contact-section{
    
    bottom: 50%;
    /* right: 46%; */
    display: flex;
    /* padding-left: 50px; */
    position: absolute;
    left: 50%;
    /* bottom: 50%; */
    z-index: 7;
    top: 153px;
}
.contact-div{
    border: 1px;
    height:80px;
    border-radius: 60px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(241, 241, 241, 1);
    width:479px;
}
.blue-bg-rect
{
    height: 294px;
    width: 80%;
    background: rgba(244, 249, 255, 1);
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: -1;
    border-radius: 75px;
    
}
.email{
    align-items: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 19.78px;
    color: rgba(149, 149, 149, 1);
    margin-top: 22px;
    margin-left: 39px;
}
.button-email{
    background-color: blue;
    border: none;
    color: white;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 80px;
    display: inline;
    margin-left: 50px;
    height: 60px;
}
.blue-rect-img{
    height: 292px;
    position: absolute;
    top: 9%;
    right: 10%;
    z-index: -1;
    

}
.dot-ornament-last{
    position: absolute;
    z-index: -2;
    right: 53px;
    top: 6px;


}
.white-rect-img{
    position: absolute;
    height: 40%;
    width: 479px;
    background: rgba(255, 255, 255, 1);
    border:1px solid rgba(241, 241, 241, 1);
    top: 59%;
    right: 17%;
    z-index: 0;
    border-radius: 60px;
    box-shadow: 10px 20px 50px 0px rgba(0, 0, 0, 0.15);
    
}
.usp-contact-square{
    position: absolute;
    z-index: -2;
    background-color: rgba(255, 245, 219, 1);
    border-radius: 0px 0px 100px 0px;
    top: 193px;
    left: 110px;
    width:180px;
    height:180px;
    rotate: 90deg;

}
.fold-7{
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-top: 280px;
}
.studio-logo{
    margin-bottom: 30px;
}
.studio-description{
    font-size: 14px;
    font-family:Averta Demo PE Cutted Demo ;
    color: rgba(86, 86, 86, 1);
    width:270px;
    line-height: 22.4px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.facebook-logo{
    width:36px;
    height: 36px;
}
.twitter-logo{
    width:36px;
    height: 36px;
}
.linkedin-logo{
    width:36px;
    height: 36px;
}
.studio-nav{
    font-size: 20px;
    
    color: rgba(0, 0, 0, 1);
    border: 0.4px;
    line-height: 24.72px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.studio-navigation{
    font-size: 14px;
    
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.copyright-content{
    font-size: 14px;
    font-family: Averta Demo PE Cutted Demo;
    font-weight: 400;
    color: rgba(164, 164, 164, 1);
    line-height: 22.4px;
    margin: auto;
    padding-bottom: 25px;
    padding-top: 35px;
    

}
.fold-8{
    padding-top: 120px;
}
.footer {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap; 
}
.navigation-bars{
    padding-left: 180px;
}
.company{
    padding-left: 117px;
}
.support{
    padding-left: 102px;
}
.contact{
    margin-left: 80px;
    margin-right: 120px;
    
}
.studio-socialmediaicons{
    letter-spacing: 16px;
    padding-top: 35px;
}

.newsletter-email{
    display: flex;
    align-items: center;
    border-radius: 60px;
    width:487px;
    height:80px;
    background-color:rgba(255, 255, 255, 1);
    box-shadow:10px 20px 50px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    border:1px;
    margin-right: 10px;
    position: absolute;
    margin-top: 80px;
}






